.scoreWrap {
  /* width: 52px;
  height: 66px; */
  background-image: url(/assets/images/game/icon-score.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scoreWrap > span {
  font-family: Sora;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 8px;
  background: linear-gradient(137deg, #ad6817 9.47%, #59360e 75.82%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
