.rocketWrap {
  position: fixed;
  right: 50px;
  bottom: 100px;
  z-index: 2000;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: rgba(123, 70, 255, 0.44);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.rocketWrap:hover {
  background: rgba(123, 70, 255, 0.7);
}
.rocketWrap > img {
  width: 16px;
  height: 16px;
  transform: rotate(-90deg);
}
