.tabsWrap {
}
.tabsContent {
  display: flex;
  align-items: center;
}
.item {
  color: var(--font-icon-white-02, var(--gray-2, #8b8b8c));
  font-family: Sora;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.pops {
  text-align: center;
  padding: 3px 10px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
  margin-left: 6px;
  color: #8b8b8c;
}
.item:not(:last-child) {
  margin-right: 20px;
}
.active {
  color: #fff;
  position: relative;
}
.active .pops {
  color: #fff;
}
.active::after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  bottom: 0;
  border-radius: 10px;
  background: var(--Brand-color-03, #7b46ff);
}
.content {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
