.modal {
  /* margin-bottom: 40px; */
  padding: 20px;
}

.modalForm {
  margin-top: 32px;
}

.textAreaTitle {
  color: #bdbdbf;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.textAreaTitle .label span {
  color: red;
}

.modalTitle {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Sora;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 76.923% */
}

.modalDesc {
  margin-top: 16px;
}

.rateBox {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  align-items: center;
}

.rateBox label {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.rateNumberList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.rateNumberList span {
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 100% */
  cursor: pointer;
  border: 1px solid #595959;
}
.rateNumberList span:hover {
  border: 1px solid var(--gary3, #595959);
  background: rgba(255, 255, 255, 0.3);
}

.activeNumber {
  border-radius: 8px;
  background: linear-gradient(
    221deg,
    #f2b853 13.19%,
    #feeac6 53.47%,
    #fb4 93.53%
  );
  color: #ad6817 !important;
}

.buttonWrap {
  margin-top: 48px;
}

.oCardBtn {
  display: flex;
  align-items: center;
}
.oCardBtn > span {
  color: #fff;
  font-family: Sora;
  font-size: 14px;
  font-weight: 600;
}
.oCardBtn > img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
