.hotGameItem {
  /* width: 266px; */
  width: 100%;
  height: 310px;
  border-radius: 8px;
  border: 1px solid #292929;
  background: #191b20;
  box-sizing: border-box;
  padding: 4px;
  cursor: pointer;
}

.image {
  width: 100%;
  /* height: 164px; */
  height: 58%;
  border-radius: 8px;
  /* border: 1px solid #4d0fff; */
  position: relative;
  overflow: hidden;
  /*background: url(<path-to-image>) lightgray 50% / cover no-repeat;*/
}
.image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}
.image > img:hover {
  transform: scale(1.1);
}
.rate {
  background: url("/assets/images/game/rateBg.svg") no-repeat center center;
  background-size: 100%;
  width: 40px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Sora;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  position: absolute;
  right: 10px;
  top: 10px;
}

.title {
  margin-top: 16px;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  width: 90%;
  margin-left: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-feature-settings: "clig" off, "liga" off;
}
.description {
  margin-top: 6px;
  width: 90%;
  margin-left: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  color: #5d667c;
}

.btnBox {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 16px;
}

.participants {
  display: flex;
  justify-content: flex-end;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.list li {
  margin-left: -10px;
}

.participantsNum {
  z-index: 4;
  height: 24px;
  text-align: center;
  padding: 0 6px;
  line-height: 24px;
  border-radius: 2000px;
  border: 1px solid #191b20;
  background: #7b46ff;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}

.head {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #191b20;
  border-radius: 100%;
  overflow: hidden;
}

.head img {
  width: inherit;
  height: inherit;
  border-radius: 100%;
}

.btnGetStarted {
  width: 130px;
  height: 40px;
  background: url("/assets/images/game/ButtonGetStarted.png") no-repeat center
    center;
  background-size: 100%;
}
.oCardBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
