.breadWrap {
  color: #fff;
  padding: 12px 20px;
  border-radius: 20px;
  border: 1px solid #292828;
  display: flex;
  align-items: center;
}
.root {
  color: var(--font-icon-white-02, var(--gray-2, #8b8b8c));
  text-align: center;
  font-family: Sora;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}
.breadWrap > img {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  margin-right: 8px;
}
.current {
  color: var(--font-icon-white-04, #fff);
  font-family: Sora;
  font-size: 12px;
  font-weight: 400;
}
