.leftWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1100;
}
.img1 {
  width: 148px;
  height: 41.983px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.pad25 {
  padding: 25px;
  box-sizing: border-box;
  border-right: 1px solid #262626;
  height: 100%;
  background: #121212;
  width: 256px;
}
.ul1 li {
  list-style: none;
  cursor: pointer;
}
.ul1 {
  margin: 0;
  padding: 0;
  margin-top: 60px;
}
.ul1 li img {
  margin-right: 10px;
}
.ul1 li {
  color: #8b8b8c;
  width: 216px;
  height: 56px;
  padding-left: 20px;
  margin-bottom: 4px;
}
.ul1 li:hover {
  border-radius: 100px;
  background: rgba(175, 147, 197, 0.1);
  backdrop-filter: blur(39.79999923706055px);
}
.active {
  color: #fff !important;
  border-radius: 100px !important;
  background: linear-gradient(90deg, #7b46ff 0%, #4a2a99 100%) !important;
  backdrop-filter: blur(39.79999923706055px) !important;
}
.flex {
  display: flex;
}
.jus {
  justify-content: space-between;
}
.ane {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.jud {
  justify-content: flex-end;
}
@media only screen and (max-width: 750px) {
  .leftWrap {
    /* display: none; */
  }
}
